<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre completo: {{user.name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>ROL: {{user.rol}}</p>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>
<script src="/js/profile.js"></script>